* {
  font-family: 'Karla', sans-serif;
  background-color: #939597;
}

.header {
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  background-color: #162e6d;
  padding: 2rem;
  text-align: center;
}

.income > *, .expenses > * {
  background-color: rgb(105, 147, 178);
}
.remaining-budget {
  font-weight: 700;
  padding: 1rem;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  padding: 1rem;
  font-weight: 700;
}

.field, .material-symbols-outlined, .details {
  background-color: #fff;
}

.field {
  height: 1.5rem;
  width: 40%;
  text-align: center;
}

.btn-add {
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: #fff;
  margin: 0.5rem;
}

.hidden {
  display: none;
}
